.OuterBox{
    text-align: center;
    box-sizing: border-box;

    position: absolute;
    left: 30.94%;
    right: 30.94%;
    top: 27.13%;
    bottom: 27.13%;

    background: linear-gradient(49.98deg, #680FD2 -1.45%, #EF1B2E 58.39%, #EF1B2F 62.12%, #F48C0D 82.98%, #F5B102 96.79%),
    linear-gradient(0deg, #0E0C0F, #0E0C0F);
    border-radius: 34px;
}

.InnerBox{
    /*Box styles*/
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;

    background: #0E0C0F;
    border-radius: 34px;

    /*Font styles*/
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}


